[2017-08-20 16:57] alex-konovalov opened #1 "Fix dependencies"
[code]
misses IO, resulting in
[code]

[2017-08-20 17:01] alex-konovalov opened #2 "GAPDoc error at start"
[code]

[2017-08-20 17:04] alex-konovalov commented on #2
Oh yes, there is a hardcoded path in JupyterHelp.gi line 2

[2017-08-20 20:37] #1 closed

[2017-08-20 20:37] #2 closed

[2017-08-22 15:25] markuspf opened #3 "Properly handle heartbeat in GAP"
Currently the heartbeat is handled in a poll-loop, which is bound to go wrong if anyone starts a computation that takes any amount of time.

As suggested in some initial commits in https://github.com/gap-packages/jupyter-kernel-gap one of the possible ways to handle this is to spawn a separate thread inside the GAP binary that just handles the heartbeat. This could be done in a kernel module that

[2017-10-03 15:30] markuspf opened #4 "Update Jupyter Protocol to most recent."

[2017-10-03 15:34] markuspf opened #5 "In/Out numbers"
This would be fixed by incrementing execution count (and returning it correctly).

[2017-10-03 15:36] markuspf opened #6 "Sometimes `RandomUUID` fails"

[2017-10-04 13:03] markuspf commented on #6
This is fixed in the most recent commit to @gap-packages/uuid, to be released soon.

[2017-10-04 13:03] #6 closed

[2017-10-04 13:05] markuspf commented on #4
The protocol handling needs a general update for cleanliness, for example sending of busy messages. This is a blocker for first release.

[2017-10-04 15:18] markuspf opened #7 "Clean Kernel Shutdown"
Make sure the Kernel shuts down cleanly and clears up all the Zmq sockets so that restarting it doesn't run into "address already in use" problems.

[2017-10-04 15:30] markuspf opened #8 "Error messages"
Make sure that error messages are sent back to the Jupyter interface, probably by capturing `Error`.

[2017-10-07 23:17] markuspf commented on #3
I implemented an alterantive approach using a `fork`ed process. This works well enough for the time being, except that I have to debug some side-effects that occur when executing processes (for example `dot`)

[2017-10-07 23:17] markuspf commented on #3
Also, another obvious downside to this is that `fork` does not work in cygwin.

[2017-10-07 23:18] markuspf commented on #4
This has been done now. The message handling code will need some further cleanups before the release.

[2017-10-07 23:18] #4 closed

[2017-10-07 23:18] markuspf commented on #5
This works now.

[2017-10-07 23:18] #5 closed

[2017-10-07 23:19] markuspf commented on #8
For `Error` this works now. Syntax Errors are not handled yet, which is due to the fact that syntax errors are handled by GAP's scanner (as opposed to the interpreter).

[2017-10-07 23:21] markuspf opened #9 "Rewrite HPC-GAP support"
Most of the HPC-GAP support has been removed, but the only real difference at the moment should be that heartbeat can be handled in a HPC-GAP thread (as opposed to in a fork or a pthread hidden thread).
Of course we should think about adding support for asynchronous handling of multiple frontends etc.

[2017-10-07 23:21] markuspf opened #10 "Documentation"
Write it.

[2017-10-07 23:23] markuspf commented on #10
In particular document how to the kernel installation in jupyter works.

[2017-10-07 23:24] markuspf opened #11 "Clean up backwards compatibility hacks"
They are mostly for GAP < 4.9 which is unsupported by this kernel, anyway.

[2017-10-08 10:46] markuspf opened #12 "Sort out Help System."

[2017-10-09 12:21] #8 closed

[2017-10-09 12:26] markuspf commented on #10
Done. Needs improvements, of course.

[2017-10-09 12:26] #10 closed

[2017-10-09 12:27] #11 closed

[2017-10-09 12:27] markuspf opened #13 "Catch SyntaxErrors and SyntaxWarnings"
This will need patches in the main GAP repository.

[2017-10-18 09:56] markuspf commented on #3
The side-effect issue was solved with release of ZeroMQInterface 0.8. Closing this and waiting for people to complain about things going wrong in new issues.

[2017-10-18 09:56] #3 closed

[2017-10-21 10:24] pedritomelenas commented on #13
This also affects things like `Exec(less something)` : `less` is performed in the console and waits `q` to end (in the console).

[2017-10-21 10:29] pedritomelenas opened #15 "`LogTo` does not seem to work"
May be it is in my install (macos). `LogTo` does not write into the file specified in the argument.
Thanks,
Pedro

[2017-10-21 10:37] pedritomelenas opened #16 "Double semicolon should inhibit output"
As happened in the old kernel, double semicolon (`;;`) does not inhibits the output.
Thanks,
Pedro

[2017-10-21 10:43] pedritomelenas opened #17 "NamesUserGVars();"
`NamesUserGVars();` outputs many variables that where not "defined" by the user in the prompt. In fact the user unintentially defines them when launching the kernel.
[code]
It would be nice to have these cutted down ...
Thanks,
Pedro

[2017-10-21 10:47] pedritomelenas opened #18 "last, last2, ..."
`last` returns `true`, and `last2` returns "2 be defined". Probably you commented this already in Siegen.
This is just to have it recorded.
Thanks,
Pedro

[2017-10-21 10:49] pedritomelenas commented on #18
I remember we also talked about the possibility of storing all ouputs and be able to refer to them as `_n` or something. May be in gap `lastn` would be better.

[2017-10-21 10:56] pedritomelenas opened #19 "Several outputs per cell"
I do not think that having several ouputs for a single cell is bad (though having as ouput the last output in that cell could be also ok). The problem arises in examples like the following.
[code]
ouputs `[1,3]`, `[1,3]`, `3`, and `[1,3]`. The first should probably be `[1,"a"]`.

Thanks,
Pedro

[2017-10-21 11:25] pedritomelenas commented on #13
just another example: `Filtered([1..10],x->kk(x));` hangs and produces the following in the terminal

[code]

[2017-10-21 18:07] pedritomelenas commented on #7
Also restarting the kernel may fail; probably related to this.

[2017-10-23 09:48] markuspf commented on #19
The problem here is that all input is evaluated and only then are results printed, so the list pointed at by `a`, at the point of printing, is `[1,3]`.

I submitted a change GAP to copy each result, which is potentially expensive, but before I (or someone else) have sorted out parsing from a stream in bits this is the best I can do.

[2017-10-23 10:01] markuspf commented on #19
https://github.com/gap-system/gap/pull/1799

[2017-10-23 10:12] markuspf commented on #18
to be clear: do you want the last inputs or the last outputs? `last`, `last2` store the last results (which, tbh, we should do with a list, we just have to call it something other than "last" because of backwards compatibility).

For inputs, jupyter claims to have some history functionality, which I couldn't figure out how to use yet (and the kernel functions for that are currently just stubs).

[2017-10-23 10:13] markuspf commented on #13
I disabled he break loop now, which gets rid of your hang/crash. Doesn't address the error message problem.

[2017-10-23 18:03] pedritomelenas commented on #18
for me the outputs are fine. The problem is that in my install even `last` is not working, it always return true... So for instance, if you evaluate `1;`, and then `last+1;` you get an error.

[2017-10-23 18:11] pedritomelenas commented on #13
Thanks, this works for the `Filtered` example.

[2017-10-24 06:58] enriqueartal opened #21 "Problem with JUPYTER_KernelStart_GAP"
I am unable to use the package. I have the current master version of GAP and I installed this package. When launching a worksheet with this kernel, it dies, with the following message in the console where the notebook was started:
fail
Error, Variable: 'JUPYTER_KernelStart_GAP' must have a value

[2017-10-24 09:28] markuspf commented on #21
Please make sure you have all dependencies installed and compiled (as per the documentation).

The easiest way to find out whether you do is by starting GAP and trying to load the package:

[code]

If loading of the package fails, follow the instructions and find out which dependency does not work (and ideally for what reason).

[2017-10-24 11:34] enriqueartal commented on #21
Thanks! I did not have the right versions. Now it work!

[2017-10-24 14:23] markuspf commented on #21
Can we close this issue, then?

[2017-10-24 16:03] enriqueartal commented on #21
Yes, I close it.

[2017-10-24 16:03] #21 closed

[2017-10-26 08:58] sebasguts opened #22 "Printing recursive objects crashes the Kernel"
Executing
[code]
crashes the Jupyter kernel. It is still displayed as connected, but won't execute any more input.

[2017-10-30 16:44] markuspf commented on #22
This is actually a bug in GAP:

[code]

[2017-10-30 16:46] markuspf commented on #22
https://github.com/gap-system/gap/issues/1829

[2017-10-30 16:46] markuspf commented on #22
(Further issues include missing `ViewString` for records...)

[2017-10-31 14:24] markuspf opened #23 "Refactor Representations of Objects for Notebook Display"
The displaying procedure in `execute_reply` should be rewritten in a way that just calls a (new) Operation (Attribute?) `JupterView` on which should return a record (or even a new object) which contains different representations of the object (for example a plain text representation, and/or a HTML representation).

[2018-01-25 20:32] markuspf commented on #7
This should solved by e8a6a073716063a7abb5de12692a26ebe8f3cc2f due to be released in the next week.

[2018-01-31 22:34] markuspf opened #26 "Fix Help System"
[code]
Does not display help, whereas
[code]
does.

[2018-01-31 22:35] markuspf commented on #23
This has been done, albeit by using a new operation `JupyterRender` which returns a `JupyterRenderable` object. This object is then rendered by `execute_reply`.

[2018-01-31 22:35] #23 closed

[2018-01-31 22:36] markuspf commented on #16
With most recent GAP `master` (but also with the forthcoming `stable-4.9`), and JupyterKernel `master` this is now possible.

[2018-01-31 22:36] #16 closed

[2018-01-31 22:37] #12 closed

[2018-01-31 22:37] #7 closed

[2018-03-15 19:18] dimpase opened #27 "no output from cell evaluation (using Python 3.5)"
I have installed Jupyter using `pip3 install jupyter --user` on `4.14.3-gentoo #3 SMP x86_64 Intel(R)` and `JupyterKernel` as described in the manual (and all the needed packages, naturally).

I do not get any echo from commands in input cells, only if I do `Print()` then I get to see things. This is not how it is meant to work, right?

Also, if I do not complete a statement with `;` then the echo

[2018-03-15 19:24] dimpase opened #28 "do not install jupyter-kernel-gap along with kernel.json"
In `setup.py` the call to `install_kernel_spec()` installs the script `jupyter-kernel-gap`, which should not happen, as it has nothing to do there.

Probably the right thing to do would be to move it to `JupyterKernel-0.10/bin/` and tell the user to have the latter in PATH, and not `JupyterKernel-0.10/etc/`.

[2018-04-18 15:34] ThomasBreuer opened #29 "shell script in `/etc/jupyter/jupyter-kernel-gap`"
The shell script in `/etc/jupyter/jupyter-kernel-gap`
calls with highest priority the GAP that is given by the return value of `which gap`.
The GAP version specified by the environment variable `JUPYTER_GAP_EXECUTABLE`
is used only if the result of `which gap` is empty.

I think it should be the other way round.
That is, `JUPYTER_GAP_EXECUTABLE` should allow one to specify a particular GAP version

[2018-05-22 11:47] markuspf commented on #29
I agree. Fixed in b75f71a337da7c383e9a1acc5d8375f9b27b7659

Word of warning: the kernel is currently broken (more than usual) on the `master` branch.

[2018-05-23 15:22] markuspf commented on #29
Coming to think of it, I'll add the variable `GAP` as well (in between `JUPYTER_GAP_EXECUTABLE`, and looking in the path), as this seems to be used at least by @fingolfin's scripts (and is a natural choice).

[2018-05-23 16:54] cmdawson commented on #27
I also have the issue with statements not completed with `;` . I see the gap error in the jupyter log
[code]
but then no further communication with the kernel is possible.

Otherwise everything works perfectly (and is awesome)

[2018-05-24 13:18] markuspf opened #30 "Implement "comms""

[2018-05-24 13:36] markuspf opened #31 "Handle Heartbeat better"
Currently `JupyterKernel`, on startup, forks GAP, the parent process handles the heartbeat, the child process is the actual `jupyter` handler.

This has many issues, one of which is that if the child process dies with a `SIGSEGV` the heartbeat currently doesn't notice.

[2018-05-28 09:28] markuspf opened #32 "Help does not work"
[code]
doesn't yield any output

[2018-06-04 10:02] markuspf opened #33 "Constructors and documentation for JupyterRenderable"

[2018-06-04 10:02] markuspf opened #34 "Restarting the kernel does not work"

[2018-06-04 10:31] #29 closed

[2018-06-04 10:39] #28 closed

[2018-06-04 10:40] #13 closed

[2018-06-04 10:41] #26 closed

[2018-06-04 10:42] #27 closed

[2018-06-04 11:30] markuspf commented on #32
this is fixed in GAP by #2498

[2018-06-04 11:30] #32 closed

[2018-06-04 14:55] ssiccha opened #36 "Accessing the documentation does not work"
When I do `?DirectoryCurrent` the kernel hangs.

[2018-06-04 15:19] #33 closed

[2018-06-04 15:34] markuspf opened #37 "JupyterLab support?"
It looks like JupyterLab doesn't like the GAP kernel's protocol handling, showing cells as  "busy" when they are not busy anymore.

[2018-06-04 15:43] ssiccha commented on #36
Current master 71a93ba.

[2018-06-04 16:30] ssiccha opened #38 "Show traceback when encountering an error"
Currently only the encountered error is shown but the traceback isn't.

[2018-06-04 17:19] ssiccha opened #39 "time variable does not work"
It shows e.g. `11` ms if a command ran for a few seconds.

[2018-06-05 10:06] fingolfin commented on #17
But that's the usual behavior of GAP -- I am not sure what JupyterKernel could or should do about this...

See also https://github.com/gap-system/gap/issues/811

[2018-06-05 10:40] markuspf commented on #39
I see the following options to address this problem:

 1) Remove access to `time` (because I am not sure it serves a useful purpose, anyway, and it certainly becomes even less useful if you run things in a container)
 2) make time reflect the time it took to execute the cell
 3) have timing for every statement in the cell

for options 2 or three I am happy to explain how to approach this for a pul

[2018-06-05 10:41] markuspf commented on #36
This should be fixed with the master branch of `JupyterKernel`

[2018-06-05 11:16] ssiccha commented on #36
Jepp, also works for me.

[2018-06-05 11:16] #36 closed

[2018-06-06 10:58] alex-konovalov opened #45 "How does this work on Windows?"
In the past, I was able to use Docker on Windows to connect to GAP running in the container from the browser running under Windows. I hope that by building needed packages and including further DLLs in the Windows GAP distribution we may get a working version under Windows that does not require Docker.

[2018-06-06 11:15] alex-konovalov commented on #39
+1 for option 2

[2018-06-06 11:17] alex-konovalov commented on #17
@pedritomelenas what does

    Filtered(NamesGVars(), x -> not IsBoundGlobal(x));

return?

[2018-06-06 11:29] pedritomelenas commented on #17
[code]

[2018-06-06 11:35] markuspf commented on #45
I am not sure what the `JupyterKernel` issue is that we want to address?

[2018-06-06 14:27] markuspf opened #47 "Make it possible to interrupt the kernel"
For example if a user accidentally executes

[code]

we want to be able to recover by interrupting this "computation".

[2018-06-06 14:50] ssiccha opened #48 "`GAPInfo;` has no output"

[2018-06-06 14:59] alex-konovalov opened #49 "Exec output shows up in a terminal instead of a notebook"
For example,

    Exec("pwd");

shows no output in the browser, but prints the path in the terminal.

[2018-06-06 15:05] alex-konovalov commented on #48
GAPInfo.PackagesInfo does not work either. OTOH, e.g. GAPInfo.PackagesInfo.ace[1] and GAPInfo.Version work.

[2018-06-06 15:12] alex-konovalov commented on #45
TODO: test its usability under Windows.

[2018-06-06 15:40] alex-konovalov opened #50 "Numbering of input cells with several commands"
Presently it numbers the input cell by the number of the last output - would it be more natural to have it numbered by the first? E.g. on this picture `In [4]:` instead of `In [6]:`?
![screen shot 2018-06-06 at 16 35 44](https://user-images.githubusercontent.com/5751387/41049043-ea70541e-69a7-11e8-9b17-c3e6a48c9b7c.png)

[2018-06-07 09:22] markuspf commented on #48
If you inspect the messy output at the terminal that your jupyter is running on, you can see that something does not like some unicode that is sent over the wire.

I added `JUPYTER_LogProtocol` in #52 to be able to more easily get hold of what is happening on the wire.

[2018-06-07 14:32] #34 closed

[2018-06-07 14:32] #47 closed

[2018-06-07 14:32] #31 closed

[2018-06-07 14:41] markuspf opened #55 "Run `demos` in tests?"

[2018-06-07 14:43] markuspf commented on #48
@ChrisJefferson has tracked this down to an issue in the `json` package. I hope a fix is forthcoming.

[2018-06-08 09:14] alex-konovalov opened #57 "Submitting for the redistribution with GAP"
When ready to do this, submit the PR which adds the URL of the PackageInfo.g to the file https://github.com/gap-system/gap-distribution/blob/master/DistributionUpdate/PackageUpdate/currentPackageInfoURLList

[2018-06-08 11:52] markuspf commented on #48
The current `master` branch of https://github.com/gap-packages/json fixes this issue. A release will be out soon.

[2018-06-08 11:52] #48 closed

[2018-06-08 13:36] markuspf opened #59 "When printing code, use the syntax hilighter?"

[2018-06-08 14:18] frankluebeck opened #60 "Confusing output"
Output is rendered too late if there are several statements in a cell. This can lead to a very confusing display. E.g.,
![ex](https://user-images.githubusercontent.com/6473002/41162827-4bb28efa-6b37-11e8-9028-fbf833824c4a.png)

This confusion would be avoided if only the last result (if there is any and no ;;) was rendered (after other output is flushed).

[2018-06-08 16:04] alex-konovalov commented on #60
Curious why this behaviour differs from the one in #50 reported a couple of days ago.

[2018-06-09 09:31] haraldschilly commented on #27
I'm curious, is this fixed or part of an ongoing pull request? This is one of the issues we had with that kernel on cocalc.com and I want to know if we should try again.

[2018-06-09 09:35] dimpase commented on #27
It would be good to know what GAP kernel bug this is. Thanks!

[2018-06-11 16:39] cmdawson commented on #27
I believe it is this one

https://github.com/gap-system/gap/issues/2487

[2018-06-21 10:43] alex-konovalov opened #67 "Loading JupyterKernel breaks tst/testextra/helpsys.tst"
In the test log:
[code]
In GAP session, to show the backtrace:
[code]

[2018-06-21 10:54] alex-konovalov commented on #67
The test sets `SetHelpViewer("screen");` and we have
[code]

[2018-06-21 12:49] markuspf opened #68 "Rewrite Help"
Currently the code in `JupyterHelp.gi` consists of copied, hacked up code from the GAP system.

Either write a clean help system specifically for Jupyter or get changes into GAP's own help system that facilitate not having to have two copies of essentially the same code around.

[2018-06-21 12:49] alex-konovalov commented on #67
Fixed in https://github.com/gap-packages/JupyterKernel/commit/4673bfb7f6b11291820fe699404a9324063c63e0 and https://github.com/gap-packages/JupyterKernel/commit/df85be89246efff044dd180185d9eadc53953b9e

[2018-06-21 12:49] #67 closed

[2018-06-21 12:50] markuspf commented on #68
See #67 and e9ee6379716987619b76a687b9da88431071b52b 4673bfb7f6b11291820fe699404a9324063c63e0 etc...

[2018-07-03 10:28] alex-konovalov commented on #45
The current state of this is to get ZeroMQInterface package built under Cygwin: see https://github.com/gap-packages/ZeroMQInterface/issues/23

[2018-07-17 12:01] alex-konovalov commented on #39
Came across this while working on a demo I intend to give this week. @markuspf do you have any tips for option 2 then?

[2018-07-19 20:12] haraldschilly opened #73 "kernel "hangs" after error"
we've seen an issue, where evaluating a cell with the content `x` (i.e. undefined variable or whatever) causes an error message and no further communication is possible. is this a known problem?

[2018-07-19 21:57] alex-konovalov commented on #73
This was known, and I believe this has been fixed. Which version of GAP and packaged do you have? Attached is what works for me.
![screen shot 2018-07-19 at 22 55 56](https://user-images.githubusercontent.com/5751387/42972360-154e1704-8ba7-11e8-9a10-ce2f0823a016.png)

[2018-07-20 23:18] alex-konovalov opened #74 "Installation feedback"
I helped to a user today to install JupyterKernel under macOS. Jupyter has been installed via Anaconda, and we managed to get GAP kernel working. Several things were not clear in the initial attempt undertaken by the user before contacting me. I am listing them here: first, they may be useful for users trying to use the package; second, although they are documented in various places, may be worth

[2018-07-24 18:42] haraldschilly commented on #73
Attached is my screenshot, from a similar session. It's compiled on ubuntu 18.04, everything as how it comes from the tarball provided on the website. I don't know how to also list the version numbers of relevant packages, though. However, here is how it looks to me, with a freshly-restarted kernel:

![screenshot from 2018-07-24 20-40-55](https://user-images.githubusercontent.com/207405/43159223-1

[2018-07-24 21:56] alex-konovalov commented on #73
@haraldschilly thank you, that's really helpful. I can reproduce exactly this session with exactly the same issue on a mac. The same issue is happening when using mybinder from https://github.com/alex-konovalov/gap-teaching (currently using the master branch of GAP).

BTW, you can get versions of packages as follows:
[code]
with the packagename there in lowercase.

[2018-07-24 23:02] DrXyzzy commented on #73
Thanks. I was using the following and getting info from the generated log file
[code]

[2018-07-25 08:54] haraldschilly commented on #73
Ok, glad you could reproduce it … and thank you for the version info command, our versions of jupyterkernel are the same.

[2018-07-26 21:01] markuspf commented on #73
The problem is in GAP's error handling: https://github.com/gap-system/gap/issues/2487,
 I'll try and see whether I can do some wrangling to get it to not crash...

[2018-08-29 10:23] enriqueartal opened #75 "Jupyter Kernel complains: "Error, Function: number of arguments must be 4 (not 3)""
I have compiled the develop version of GAP, in linux (fedora 28). I installed Jupyter Kernel and it complains with the error in the message. By the way at some point the message was "Error, Function: number of arguments must be 3 (not 2)".

[2018-08-29 13:34] nathancarter commented on #74
This helped a lot.  I had figured out several of these things by hunting around, but the two that I would not have figured out on my own were:
 1. After installing ZeroMQ, one must run `BuildPackages.sh` *again*.
 1. When the package says that `gap` must be in your path, it does not mean the gap binary in the `gap-4.9.2` directory, but the `gap.sh` script in the inner `bin` directory, aliased/link

[2018-09-11 22:41] BNasmith opened #76 "Trouble with Installation"
Hello,
I'm having trouble getting the GAP kernel for Jupyter to work. I have Python 3.6 installed on my Windows computer and GAP 4.9.3. I used the `pip install --user notebook` command in Bash to ensure that my Jupyter installation was up to date (I used it with Python 3 already) and I navigated to the `C:\gap-4.9.3\pkg\JupyterKernel-0.999999` directory and ran the `python setup.py install --user`

[2018-09-12 13:47] alex-konovalov commented on #76
Thanks for reporting this. How did you install GAP - from .exe installer, or using Unix subsystem in Windows 10?

[2018-09-12 14:13] BNasmith commented on #76
I installed GAP using the Windows .exe installer. I'm having the same problem with GAP 4.9.3 on one Windows 10 machine and GAP 4.9.2 on a Windows 7 machine.

[2018-09-13 11:06] enriqueartal commented on #75
Some information I forgot to add. It happens in the Jupyter notebook, not at the time of installation, when executing any GAP order.

[2018-09-15 20:25] fingolfin opened #77 "ErrorInner override is broken in GAP 4.10"
This package replaces `ErrorInner` with a modified function.

As part of `ErrorInner`, `PRINT_CURRENT_STATEMENT` is called. But that went from taking 1 argument in GAP <= 4.9 to taking two arguments in GAP >= 4.10. As a result, if an error is triggered which prints a backtrace, an infinite recursion of `Error` calls ensues, which (depending on your system) either results in a "recursion depth exce

[2018-09-15 22:00] alex-konovalov commented on #77
Is `ErrorInner` replaced whenever the package is loaded? Would be useful to load it only when the package is loaded via opening a new Jupyter notebook, but not when it is loaded via `LoadPackage` for testing.

[2018-09-17 11:37] markuspf commented on #77
Note that this is a hack and due to go away "soon" (4.11, pretty please?)

[2018-09-17 11:40] ssiccha commented on #77
Actually, I forgot about my PR #70 which uses the new error handling in GAP 4.10. I've rebased and tested it and it can be merged in now. As markus said, the next step would be to get rid of the hack.

[2018-09-18 11:55] #38 closed

[2018-09-21 10:03] ssiccha opened #78 "Syntax errors shouldn't printed as normal output"
I guess this happens because the functions that print the syntax errors still print to `"*errout*"`.

[2018-09-22 12:11] markuspf opened #80 "tests to run against current release and master branch."

[2018-09-22 12:14] markuspf commented on #78
This is true, and it is technically not a bug in the JupyterKernel, but in GAP, and I expect it to be fixed there.

[2018-09-22 20:44] markuspf commented on #77
This is now resolved thanks to @ssicha's work.

[2018-09-22 20:44] #77 closed

[2018-09-22 20:45] markuspf commented on #75
This should be resolved with the most recent release.

[2018-09-22 20:45] #9 closed

[2018-09-22 20:46] #22 closed

[2018-09-22 20:58] markuspf commented on #39
This is resolved with 85e9fc2f73aa1476c0890191f2aa4a8942c70dfc

[2018-09-22 23:14] enriqueartal commented on #75
Right! Thanks!

[2018-09-22 23:14] #75 closed

[2018-09-28 11:01] alex-konovalov commented on #39
Thanks - close it then?

[2018-10-29 13:07] nathancarter opened #83 "Restarting the kernel takes 30s and shows errors on console"
## This works as expected:

 1. Run `jupyter notebook` on console.
 1. From the "New" menu, choose "GAP 4."
 1. The console log indicates that the Kernel is ready very quickly (<1 second)
 1. From the "Kernel" menu, choose "Restart" (then confirm by clicking Restart).
 1. Jupyter says the Kernel restarts very quickly (about 1 second), and the console log confirms this.
It continues to work that wa

[2018-10-29 13:36] markuspf commented on #83
This could be related to #73

[2018-10-29 14:45] dimpase commented on #83
I suggest to use a already prepared workspace to restart, this might speed things up...

[2018-11-21 16:03] LianaKhazaliya opened #84 "Installation problem with russian localisation"
Install GAP in the directory path to which contains Cyrillic (`/home/aliana/Загрузки/gap-4.10.0/`) can cause the error that is given below. Jupyter Notebook indicates Kernel Error. It can be eliminated by transferring and recompiling GAP in another directory.
[code]

[2018-11-21 16:32] alex-konovalov commented on #84
I suggest to install GAP under some path that does only has english letters. I will come and help now.

[2018-11-21 16:39] alex-konovalov commented on #84
Just to confirm, the problem has been resolved by placing GAP in another location. Thanks @LianaKhazaliya for the interest to this package!

[2018-11-21 16:39] #84 closed

[2018-11-27 16:57] ssiccha commented on #78
This is resolved by the yet-to-be-merged PR gap-system/gap#3043.

[2018-12-19 22:51] alex-konovalov commented on #76
Sorry for not replying earlier @BNasmith. Did you manage to find some workaround in the meantime?

Unfortunately, the package is not yet usable on Windows if you install from .exe installer because that one does not provide usable ZeroMQInterface package. For now, on Windows I would suggest to try the Unix subsystem (if on Windows 10), or a Linux virtual machine, or Docker.

[2018-12-20 01:01] BNasmith commented on #76
Hello again and thanks. I'm currently using GAP-4.10.0 linux version using the Windows Subsystem for Linux on Windows 10. I tried to follow the steps to install JupyterKernel (1.0 this time). I'm able to open the browser notebook, but the Kernel still fails to start property. I tried running `autogen.sh` in the ZeroMQInterface package (I didn't see any instructions in the documentation about how t

[2018-12-20 01:43] BNasmith commented on #76
A small amount of progress: I realized I needed to add a link to `jupyter-notebook-kernel` to `/user/local/bin`. Now the kernel seems to be stuck in a loop on this problem:
[code]

[2018-12-20 08:10] alex-konovalov commented on #76
@BNasmith could you please check what happens if you start GAP in the terminal and call

    LoadPackage("JupyterKernel");

[2018-12-20 13:18] BNasmith commented on #76
Sure, here's what I get:
[code]

[2018-12-20 13:48] alex-konovalov commented on #76
As https://www.gap-system.org/Releases/ says, after building GAP you also need to do

cd pkg
../bin/BuildPackages.sh

Please do that if you haven't tried yet. Also, you may need to call `apt-get install libzmq3-dev` to be able to build the ZeroMQInterface package - do this before building packages, if you haven't done this yet.

At the end the `BuildPackages.sh` script will also produce a file wit

[2018-12-20 15:07] BNasmith commented on #76
Thanks again. I followed these steps and now `LoadPackage("JupyterKernel");` return `true` in GAP. Here's the log of failed to build packages:
[code]

That said, it seems to be working now. I can type `jupyter notebook` at the command prompt in the Windows Subsystem for Linux and create a notebook running GAP 4. Thanks very much. It seems that the problem was just me learning how to use the linux

[2018-12-20 15:47] alex-konovalov commented on #76
Thanks, this is great! Also, a good list of packages which compiled successfully. I would be interested what happened with anupq - if you will need it and will need some help, you can submit an issue to https://github.com/gap-packages/anupq/. For curlInterface, use `apt-get install libcurl4-openssl-dev` and then rebuild the package with `./configure; make`. NormalizInterface requires Normaliz to b

[2018-12-20 15:48] alex-konovalov commented on #45
As reported in #76, one can successfully use JupyterKernel on Windows 10 after installing GAP in the Linux subsystem.

[2018-12-20 16:48] BNasmith commented on #76
Actually, I don't have it working from the Windows command prompt. Rather, I am using the Windows Subsystem for Linux (WSL), on which I installed GAP 4.10.0 for Linux. I also installed Jupyter Notebook on WSL and I think WSL recognized my prior Windows Python installation. So I'm running Jupyter Notebook from WSL and simply copy-pasting the link it provides to a browser (WSL won't open a browser a

[2018-12-20 18:40] alex-konovalov commented on #76
Nice - thanks for clarifications! Also, you mentioned two Python installations above, with 3.6 and 2.7 - seems like the former is in Windows, the latter - in WSL.

Since it works, I will close this issue now - please open a new one, if there will be any questions!

[2018-12-20 18:40] #76 closed

[2019-01-15 10:17] #80 closed

[2019-01-18 12:48] markuspf opened #88 "Version 1.0 incompatible with GAP master and stable-4.10 branches."
https://mybinder.org/v2/gh/gap-packages/OrbitalGraphs/master

[2019-01-20 23:53] alex-konovalov opened #89 "protocol.tst runs twice, and with negative time"
What happens here in version 1.1? `#I  No errors detected while testing` appears twice and breaks testing scripts, and 2nd time the timing is negative:
[code]

[2019-01-20 23:53] alex-konovalov commented on #88
The reason is that JupyterKernel 1.0 works in GAP 4.10.0 (in `gap-docker` container), but `OrbitalGraphs` is using `gap-docker-master`, where version 1.0 is included but it does not work. To get it to work both in `gap-docker-master` and `gap-docker-stable-4.10` containers, one should get JupyterKernel 1.1 with 587a1230e330ec5756ca652134c98a05c3465806 included. However, JupyterKernel 1.1 has been

[2019-01-21 00:00] alex-konovalov commented on #89
Same can be observed on Travis: https://travis-ci.org/gap-packages/JupyterKernel/jobs/479808058 (it does not fail the test and remain unnoticed?).  My guess is that because it calls `IO_fork()` at some point we have two processes running the same test.

[2019-02-11 13:39] #39 closed

[2019-02-11 13:39] #19 closed

[2019-02-11 20:16] stevelinton opened #91 "Make "In" and "Out" GAP accessible"
The notebook makes it look like In and Out are GAP lists. Why not let them be? The simplest solution would be to make them strings. A more ambitious solution would be to make Out accessible as GAP objects where it makes sense, and perhaps make In accessible as "thunks" (functions of no arguments).

[2019-02-13 08:52] stevelinton opened #93 "Start notebook from within GAP."
As SAGEMath does, it would be nice to be able to start a notebook from within a terminal GAP session.
Something like
[code]
or
[code]

or something of the kind. As far as I can see this should be easy. `Notebook` essentially just needs to
copy a template `.ipynb` file into a scratch directory and call `jupyter notebook foo.ipynb`

Maybe it should also be possible to invoke a GAP notebook directly

[2019-02-13 09:00] stevelinton opened #94 "Interwork smoothly with GAP saved workspaces"
There are a couple of things it would be nice to do, possibly of various levels of difficulty:

- Start a notebook with a GAP kernel from a saved workspace specified somewhere, inlcuding one
which was created from a non-jupyter GAP session

- Somehow pair up a `.ipynb` file and a GAP workspace, so that you can save state and get back to where you were without having to rerun possibly very expensiv

[2019-02-13 10:43] stevelinton opened #95 "Document/support installation of multiple GAP kernels"
I'd like to have multiple GAP kernels installed, to line up with my multiple installations of GAP (release, master, etc.). I suspect this is not too hard -- presumably just editing a `kernel.json` file somewhere, but it would be helpful to document how to do it.

[2019-02-13 10:47] stevelinton commented on #93
I have a prototype implementation of this which seems to work at least sometimes:

[code]

[2019-02-14 15:29] markuspf commented on #93
calling `jupyter notebook foo.ipynb` will start a new GAP session inside Jupyter. If that is intended, fine.

Connecting the current gap session to a jupyter notebook will require more doing (you have to start the jupyter part of the notebook, get the ports and encryption keys, and then fire up the jupyter kernel, which will then fork gap, etc...)

[2019-02-14 15:37] markuspf commented on #95
This needs multiple things to happen;

currently we're using the `jupyter-kernel-gap` script to even run gap, and that script gets its executable from the environment variable `$JUPYTER_GAP_EXECUTABLE` or `$GAP` (in that order).

One way of resolving this is hard-coding the path to the GAP executable into this script, and hard-coding the location of the script into the `kernel.json` file that is i

[2019-02-14 16:26] stevelinton commented on #93
@markuspf I realise it starts a new session. This is the same as SageMath, I think. It's still quite useful. Ideally I'd save a workspace from the current session and get the session inside JuPyter to load that. One could even provide a way to close down the notebook save a workspace and load that into the terminal-based session, so you could basically return with the global-variable state from th

[2019-02-20 20:37] alex-konovalov commented on #45
I have now a new Windows 10 VM with an up to date Cygwin installation. It compiles all JupyterKernel dependencies. I have also installed Python using Anaconda, and run `python setup.py install` so it now offers the GAP kernel. The latter does not start however. Of course, one can't run `jupyter-kernel-gap` in the Windows shell, but it seems that the major obstacle is not there, but in using `IO_fo

[2019-02-21 12:17] markuspf commented on #45
With the now evolving `py-gap` package, it will be much easier to handle the Jupyter protocol from python and dump GAP implemementation of it. That gets rid of IO_fork and other crud.

[2019-02-21 12:19] markuspf opened #100 "Use py-gap to do the jupyter communication in python"
With `py-gap` working reasonably well, use the Jupyter implementation of the Jupyter protocol and `py-gap` to execute the GAP bits.

This removes the maintenance load for the Jupyter protocol, and gets rid of some ugly hacks that were necessary to implement the protocol (such as using `IO_fork`). See also #45,

[2019-02-21 13:14] markuspf commented on #100
First steps here: https://github.com/markuspf/py-gap/commit/5b7b0a46fa7566884b81da6ea06921402212680f

[2019-02-21 13:43] #37 closed

[2019-02-21 13:44] markuspf commented on #100
This might also address any issues that exist on CoCalc (or at least make them an SEP)

[2019-02-22 11:17] markuspf opened #102 "Tests are broken on the master branch of GAP."
The tests using nbconvert are broken because they produce a corrupted coverage file

[2019-08-01 13:11] alex-konovalov opened #105 "ZMQ version"
Which version of libzmq should be used? We used `apt-get libzmq-dev` on @vendramin's Ubuntu laptop, and it did not work. It helped  to ask `apt-get libzmq5-dev` - problems disappeared.

[2019-08-07 14:54] ThomasBreuer opened #107 "Installation (registration) problem"
The package documentation says in Section 1.2 that one can register the GAP Jupyter kernel with `python setup.py install --user`.
I got messages of the kind `No module named notebook.nbextensions` in this step, and the registration did not work.
This problem disappeared when I used `python3` instead of `python2`.
Should the manual require `python3`?
On the other hand, the example shown in Section

[2019-10-21 21:36] alex-konovalov opened #108 "Print does not work in HPC-GAP"
With https://github.com/gap-packages/ZeroMQInterface/pull/26 and https://github.com/gap-system/gap/pull/3710/ it's possible to run HPC-GAP code in Jupyter Notebook. For example, I put some commands from https://www.gap-system.org/Manuals/doc/hpc/chap1.html.

However, `Print` does not work. It is just silently ignored.

![Screenshot 2019-10-21 at 22 34 30](https://user-images.githubusercontent.com/

[2019-10-22 12:34] stevelinton commented on #108
Does setting the `-S` option help with `Print`?

[2019-10-22 13:14] alex-konovalov commented on #108
There is no GAP `-S` option - which one do you mean?

[2019-10-22 13:18] alex-konovalov commented on #108
@stevelinton it seems to exist only in HPC-GAP. Don't know what it does, but it does not help.

[2019-10-22 13:19] stevelinton commented on #108
That’s the one I meant.

[2019-10-22 13:21] alex-konovalov commented on #108
Oh wait - it works. Obviously adding an option to a commented out line makes no effect. But what it does?

[2019-10-22 13:23] stevelinton commented on #108
It disables the special multi-threaded UI

[2019-10-23 12:42] stevelinton opened #109 "Garbage collection causes crash in HPCGAP"
This seems to happen whenever my HPCGAP kernel tries to garbage collect (or it might be something like whenever one of the worker threads triggers a garbage collection).

[code]

[2019-10-23 13:55] alex-konovalov commented on #109
Same for me, after entering `GASMAN("collect");` in Jupyter:
[code]

[2019-10-23 14:51] alex-konovalov commented on #109
Does not happen in the terminal. IO is claimed to be somewhat HPC-GAP compatible at https://github.com/gap-system/gap/wiki/Building-HPC-GAP, but nothing known about other dependencies of JupyterKernel.

[2019-10-23 15:23] rbehrends commented on #109
What version are you using? I currently have a WIP pull request [here](https://github.com/gap-system/gap/pull/3502) where I'm working on outstanding issues with HPC-GAP. I've been testing this PR fairly constantly the past couple of weeks, and while there is a problem with some packages raising guard errors, I haven't encountered crashes. (Note that this version needs to be built with `./configure

[2019-10-23 15:34] stevelinton commented on #109
@rbehrends . Running current GAP master with packages from make bootstrap-pkg-full except for a current git version of ZeroMQInterface. compiled with --enable-hpcgap but nothing about guards.
It's running as an application, using the `JupyterKernel` package (which uses `ZeroMQInterface` and `IO`) to run a Jupyter kernel. That all works, and I get a worksheet in which I can run parallel code and so

[2019-10-23 15:59] rbehrends commented on #109
Okay, this looks like it's connected to Jupyter somehow; this is going to take some work to figure out. I'll hope that I'll have at least an idea what's breaking here by tomorrow.

For what it's worth, HPC-GAP should work from the master branch, but it won't have unward support (and therefore no guards). But that should not crash the GC.

---

A side note on unward: The way it works is that we've

[2019-10-23 16:42] fingolfin commented on #109
Hmm, wasn't JupyterKernel using `fork()` somehow? Maybe I misremember, though... but if not, could that perhaps be related?

[2019-10-23 18:24] stevelinton commented on #109
It forks a process to answer the heartbeat messages.  I wouldn’t expect that one ever to garbage collect,

	Steve

[2019-10-24 13:17] rbehrends commented on #109
Debugging this is still a bit problematic, as I can only reproduce the bug when running from the Jupyter console/notebook, but basically, the key here is the initial message, `thread_suspend failed`. This means that during the garbage collection, the GC was unable to pause all the threads. I'm not yet sure why that happens, but that's the underlying cause, not any actual GC problems. There may ind

[2019-10-24 13:49] rbehrends commented on #109
Update: right now, it looks like `fork()` may indeed be at fault here. After a `fork()`, only the current thread continues to exist in the forked process, but the GC doesn't know of that. The Boehm GC has hooks for that, so this part is fixable. However, any threads started by GAP will still be dead. Starting GAP with `-S` will have one concurrent thread started by default (I think it's a worker t

[2019-10-24 13:56] rbehrends commented on #109
Update 2: Inserting `GC_set_handle_fork(1);` before `GC_init();` in `src/boehm_gc.c` seems to prevent the crash, but we're still going to need to avoid the dead worker thread. I'll look into that tonight.

[2019-10-24 14:00] stevelinton commented on #109
Thanks.  One of the two forked processes in JupyterKernel has a very limited role (answering the heartbeat) so it doesn’t matter too much if it is missing a worker threads and it will probably never need to GC. The other one does all the work and I want to be able to use HPCGAP functionality there. I’m not sure which is child and which is parent.

	Steve

[2019-10-24 15:12] rbehrends commented on #109
I've put up a pull request with the changes [here](https://github.com/gap-system/gap/pull/3715). It is still somewhat raw, but I figured that people would like trying it out anyway.

The thread that was running in `-S` mode was actually the signal handler thread, not a worker thread. Worker threads for tasks are only started on demand.

[2020-07-26 22:32] BBischof opened #110 "The output from PreImagesRepresentative is not JupyterRenderable"
I saw in the documentation that we should report these here. Unfortunately, I cant seem to inspect the object with any functions either, so I can seem to get it via attributes :/

[2020-07-29 01:53] johnbamberg opened #111 "zsh"
Has anyone had a problem with using zshell on a MAC? I have the following error when running jupyter-kernel-gap:

 % jupyter-kernel-gap
GAP Jupyter Kernel Starting using /usr/local/share/gap-4.10.0/bin/gap.sh -l ";/Users/00044445/"
gap: hmm, I cannot find 'lib/init.g' maybe use option '-l <gaproot>'?

As you can see, the path variables look fine. In my .zshrc, I have

export JUPYTER_GAP_EXECUTABLE

[2020-07-29 03:32] johnbamberg commented on #111
I can replicate the problem in a simpler way. In the terminal, do

exec $JUPYTER_GAP_EXECUTABLE

This returns the same error message. The problem might be the parsing of the "-l" switch through exec.

[2020-07-29 05:04] #111 closed

[2020-07-29 05:07] johnbamberg opened #112 "exec command in jupyter-kernel-gap script"
On a MAC (bash or zsh shell), the exec command in the jupyter-kernel-gap script command has an issue when $JUPYTER_GAP_EXECUTABLE has a "-l" switch. The error can be replicated by considering the following two instances:

GAP="gap -o 2000M"
exec $GAP

GAP="gap -l \".;\""
exec $GAP

There is an error in the second instance:

gap: hmm, I cannot find 'lib/init.g' maybe use option '-l <gaproot>'?

whi

[2020-07-29 05:47] johnbamberg commented on #112
I found the solution ... use parentheses:

GAP=(gap -l ".;")

[2020-07-29 05:47] #112 closed

[2020-07-29 07:07] johnbamberg opened #113 "JUPYTER_KernelStart_GAP"
I have the error:

Error, Variable: 'JUPYTER_KernelStart_GAP' must have a value

Jupyter works fine, all packages load in my GAP installation, and the paths are correct. I am using MAC OSX (Catalina). What should be "configfile" in the argument to this function?

I have the same error when I run the jupyter-kernel-gap script:

% jupyter-kernel-gap
GAP Jupyter Kernel Starting using gap
fail
Error,

[2020-07-29 07:13] johnbamberg commented on #113
If it helps, this is my kernel.json:
{"argv": ["jupyter-kernel-gap", "{connection_file}"], "display_name": "GAP 4", "language": "gap", "codemirror_mode": "gap", "env": {"PS1": "$"}, "interrupt_mode": "message" }

[2020-07-30 10:56] alex-konovalov commented on #110
Thanks @BBischof. Can you at least print it with `Print`? Perhaps that could help you as a workaround? Also, if you could provide an example, we can look at possible ways to inspect it.

[2020-07-30 11:48] johnbamberg commented on #113
@alex-konovalov It returns true.

[2020-07-30 12:08] alex-konovalov commented on #113
@johnbamberg could you also check https://github.com/gap-packages/JupyterKernel/issues/74, in particular steps 6-7?

[2020-07-30 12:10] johnbamberg commented on #113
Thanks: I did this already, because it is a wonderful post you've made. Steps 6-7 are fine ... my paths are correct.

[2020-07-30 12:15] alex-konovalov commented on #113
Ok, that definitely differs from my machine:
[code]
You know that you are not using this script though - the way is to start Jupyter and the you should be able to see GAP when you create a new notebook.

What `jupyter kernelspec list` says? See example at https://gap-packages.github.io/JupyterKernel/doc/chap1.html#X7CA9D73583D1D456.

[2020-07-30 12:31] alex-konovalov commented on #113
Another idea - I think that's a lead. What is the output of

    echo $JUPYTER_GAP_EXECUTABLE

This is the content of `jupyter-kernel-gap`:

[code]

The line `echo "GAP Jupyter Kernel Starting using $GAP"` outputs `$GAP` and in your case it shows `gap` so it seems to ignore `$JUPYTER_GAP_EXECUTABLE"` that you define.

[2020-07-30 12:38] alex-konovalov commented on #113
P.S. just in case, you have to `source ~/.zshrc` after you made changes for them to take effect in the same terminal session.

[2020-08-05 02:36] johnbamberg commented on #113
Thanks @alex-konovalov . Here's the output of each command:
[code]
[code]

[2020-08-05 15:46] alex-konovalov commented on #113
@johnbamberg so if you do

    gap -l ".;/Users/00044445/"

then GAP just starts?

[2020-08-07 08:27] johnbamberg commented on #113
Yes indeed.

[2021-07-14 09:42] alex-konovalov commented on #113
@johnbamberg how are you - did you manage to use Jupyter GAP notebooks after all?

[2021-07-14 09:44] alex-konovalov commented on #109
Not crashes any more after @rbehrends's PR - closing now.

[2021-07-14 09:44] #109 closed

[2021-07-14 09:50] alex-konovalov commented on #105
@ZachNewbery Perhaps mention in the Linux installation instructions at least `libzmq3-dev` please

[2021-07-14 09:52] alex-konovalov commented on #102
All now works, checked after PR #115.

[2021-07-14 09:52] #102 closed

[2021-07-14 10:00] alex-konovalov commented on #45
@ZachNewbery reports using it on Windows 10 by installing GAP under WSL. This will be advised in one of the coming documentation updates.

[2021-07-14 10:01] #88 closed

[2021-07-14 10:19] alex-konovalov commented on #49
@ZachNewbery at some point, one could perhaps add a section to the manual explaining where GAP behaves differently in the Jupyter notebook:
- output of Exec
- output of some objects
- etc.

[2021-07-14 10:46] alex-konovalov commented on #30
I have no idea what does that mean, and no way to find out. Please reopen this issue, if you'd like to provide some more details about this idea.

[2021-07-14 10:46] #30 closed

[2021-07-15 02:54] johnbamberg commented on #113
Yes, thanks Alex. I started from scratch and it resolved the issue.

[2021-07-15 02:54] #113 closed

[2021-07-19 12:28] alex-konovalov commented on #15
I also have this on mac under GAP 4.11.1:

[code]
results in
[code]
@ZachNewbery does this work for you in WSL on Windows?

[2021-07-19 12:34] alex-konovalov commented on #17
This is normal behaviour, not an issue with the JupyterKernel. The output of `Filtered(NamesGVars(), x -> not IsBoundGlobal(x));` may point to some "interesting" things that might need to be removed or made write protected.

[2021-07-19 12:37] alex-konovalov commented on #18
Checked now: after some calculations, `last` returns `true` and `last2` and `last3` returs `fail`. This is still wrong...

[2021-07-19 12:42] alex-konovalov commented on #50
This may be actually OK - it's coherent with the behaviour of Python Jupyter notebooks. Could be said somewhere in the manual about possibility of placing several commands in one cell, and the way how numbering works in this case.

[2021-07-19 16:14] alex-konovalov opened #116 "Add more demos and interactive tests"
I've updated the Dockerfile and added a binder badge in 05d721077c84d4dc7a3509cbd243cf03747b7bb1. It starts an instance on Binder with GAP 4.11.1 and the latest version of JupyterKernel from the master branch of this repository. This can be used to demonstrate the package, and to test that interactive features, which we are not testing with CI, are not broken by latest commits.

The collection of

[2021-07-19 16:26] alex-konovalov commented on #116
Also, the README has just the badge for Binder - could also explain how to use it.

[2021-07-22 20:17] alex-konovalov opened #117 "Installation under Anaconda"
We have tried to install this package (release JupyterKernel 1.3 included in the GAP 4.11.1 distribution) to use with Anaconda Python installation of @xpan-eileen. The obstacle was that it had GAP 4.11.0 already (apparently installed with some SageMath installation). First called `conda remove gap`, then tried to install this kernel with `python setup.py install` and it complained about permission

[2021-07-22 21:53] isuruf commented on #117
either `b` or `pip install git+https://github.com/gap-packages/JupyterKernel` should work

[2021-07-23 12:15] xpan-eileen commented on #117
Thank you @alex-konovalov and @isuruf! I ran isuruf's suggestion directly in JupyterLab and restarted it, now it works perfectly in both JupyterLab and JupyterNotebook.

[2021-07-23 17:01] alex-konovalov commented on #117
Wonderful, thanks for confirming @xpan-eileen! So looks like no special instructions for Anaconda are needed for the newest state of the package on GitHub, and so things will become better from the next JupyterKernel release.

[2021-07-23 17:01] #117 closed

[2021-07-24 18:08] ZachNewbery commented on #107
Should be fixed by #106

[2021-07-24 18:08] #107 closed

[2021-07-27 22:15] ZachNewbery commented on #15
No i get the same error unfortunately :(

[2021-07-28 09:33] alex-konovalov commented on #15
While I'd be interested to understand why it does not work, and this should be mentioned in known limitations of the GAP Jupyter kernel (@ZachNewbery currently works on documenting them), using `LogTo` in Jupyter notebook is perhaps a non-Jupyter way of thinking. The notebook contains all input and output already, so why one wants to have a log (which would possibly have more, all false attempts,

[2021-07-28 09:45] alex-konovalov commented on #73
Since https://github.com/gap-system/gap/issues/2487 is closed, it may be worth testing if the GAP Jupyter kernel works better with the GAP master branch...

[2021-07-28 09:51] alex-konovalov commented on #73
In GAP 4.11.1, crucial part for reproducing the error above is to enter `x` _without_ a semicolon. With semicolon, it does not hang.

[2021-07-28 09:58] slel commented on #15
Note also Jupytext which lets you maintain a text version
of a notebook (with only the input cells) in Markdown or
reStructuredText format.

- docs: https://jupytext.readthedocs.io/en/latest/
- repo: https://github.com/mwouts/jupytext

[2021-07-28 10:01] alex-konovalov commented on #15
excellent suggestion @slel - thanks!

[2021-08-02 19:10] alex-konovalov commented on #107
Also #119 provides more detailed installation instructions, and tells that some steps should be repeated after upgrade.

[2021-08-02 19:30] alex-konovalov commented on #74
My plan is to add some troubleshooting section to the README, based on some text from above, and then close this.

[2021-08-02 22:37] alex-konovalov commented on #15
Before closing this, I'll add some text to the manual.

[2021-08-04 10:46] alex-konovalov commented on #110
The new version, released today, has improved rendering of some outputs. I've tried the example from the GAP tutorial, and it works. Will close this, but please let us know if your objects are still not printed in an informative way. You can try the new version on Binder by clicking on a launch Binder button.
![Screenshot 2021-08-04 at 11 44 02](https://user-images.githubusercontent.com/5751387/12

[2021-08-04 10:47] #110 closed

[2021-08-04 11:03] alex-konovalov commented on #89
See also #98 to fix issue with test failure detection on Jenkins.

[2021-08-04 19:05] alex-konovalov commented on #78
Seems to be fixed by now, indeed.
![Screenshot 2021-08-04 at 20 05 09](https://user-images.githubusercontent.com/5751387/128240066-32e72575-d7a5-41b3-bc5d-16d6a25e4bdf.png)

[2021-08-04 19:05] #78 closed

[2021-09-01 08:44] alex-konovalov commented on #105
Closed in #119 - now said in README

[2021-09-01 08:44] #105 closed

[2021-09-01 08:57] alex-konovalov commented on #49
https://gap-packages.github.io/JupyterKernel/doc/chap1.html has now "1.5 Known Limitations and Caveats"

[2021-09-01 08:57] #49 closed

[2021-09-01 08:58] alex-konovalov commented on #18
[1.5 Known Limitations and Caveats](https://gap-packages.github.io/JupyterKernel/doc/chap1.html) now mentions this.

[2021-09-01 08:59] alex-konovalov commented on #15
[1.5 Known Limitations and Caveats](https://gap-packages.github.io/JupyterKernel/doc/chap1.html) now mentions this, but maybe the text could be extended with some advice from the above.

[2021-09-01 09:04] #74 closed

[2021-12-31 01:07] fingolfin commented on #100
py-gap is AFAICT dead, but there is [gappy](https://gappy.readthedocs.io/en/latest/index.html) which is actively maintained and may (eventually?) be used by SageMath.

yet another alternative would be to use [Xeus, the official C++ bindings for Jupyter](https://xeus.readthedocs.io/en/latest/). They don't look that hard to use (famous last words :joy:)

[2022-01-18 12:33] Yue-Zhengyuan opened #126 "Registering GAP with Jupyter"
In the README file, it is said that the GAP Jupyter kernel must be registered by running the following command in the `pkg/JupyterKernel` directory of your GAP installation:

[code]

On macOS Monterey (12.1, Intel), I installed Python with Anaconda, and GAP with Homebrew. When I try to run the above command, I get the following error:

[code]

But then I tried directly running `python setup.py ins

[2022-01-20 14:47] alex-konovalov commented on #126
Thanks @Yue-Zhengyuan - the README you see on GitHub refers to the new version of the package, not yet included in the GAP release. The one you get with Homebrew is the latest release of GAP 4.11.1 and packages at that time. You had to check the README from your local installation of the JupyterKernel package, and it indeed should say `python setup.py install`. Glad that it worked that way.

[2022-01-20 14:47] #126 closed